/*
*
*	HN+ for Chrome v2.0
*	by @jarques
*
*/
/* Vars */
:root {
	--light-grey: #737373;
	--white: #FFF;
	--bg-color: #FFF;
	--border-color: #DADADA;
	--text-color: #000;
}
[data-theme="dark"] {
	--light-grey: #A5A5A5;
	--white: #FFF;
	--text-color: #E7E7E7;
	--bg-color: #161C23;
	--border-color: #DADADA;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Regular.ttf'); 
   }
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap'); */
body {
	background: var(--bg-color);
	margin: 0;
	font-family: 'Poppins', sans-serif !important;
}
#hnmain {
	background: var(--bg-color);
	max-width: 1020px;
}

/* Header */
td[bgcolor="#ff6600"] {
	background: var(--bg-color);
	padding: 20px 0;
}
td[bgcolor="#ff6600"] img {
	width: 22px;
	height: 22px;
	border-radius: 4px;
}
.pagetop .hnname {
	padding-right: 20px;
	color: var(--text-color);
}
.pagetop .hnname a, .pagetop .hnname a:visited {
	color: var(--text-color);
}
.pagetop a:not(.news), .pagetop a:not(.news):visited {
	color: var(--light-grey);
}

/* Posts Home */
.athing .votelinks {
	padding: 0px 4px;
}
.athing .title {
	padding-bottom: 4px;
}
.athing .title .titleline a {
	font-size: 16px;
	font-family: 'Poppins', sans-serif !important;
	color: var(--text-color);
}
.athing .title .titleline a:visited {
	color: var(--light-grey)
}
.athing .title .titleline .sitestr {
	font-size: 12px;
	color: var(--light-grey);
}
.spacer {
	height: 30px !important;
}

/* Comments */
.comment {
	font-size: 14px !important;
	line-height: 24px !important;
	font-family: 'Poppins', sans-serif !important;
	color: var(--text-color);
}
.commtext a[rel="nofollow"] {
	color: #FF6600 !important;
}
textarea {
	font-size: 14px !important;
	padding: 12px;
	box-sizing: border-box;
	width: 520px;
	height: 55px;
	left: 281px;
	top: 207px;

	background: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 6px;
}
textarea:focus {
	border: 1px solid #FF6600;
	outline: none;
}
input[type="submit"] {
	box-sizing: border-box;
	width: 124px;
	height: 44px;
	left: 281px;
	top: 279px;

	background: var(--white);
	border: 1px solid #DADADA;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.02), inset 0px -2px 0px rgba(0, 0, 0, 0.03);
	border-radius: 6px;
}
input[type="submit"]:hover {
	background: rgba(0, 0, 0, 0.03);
	cursor: pointer;
}
.comtr:has(.ind[indent="0"]) {
	margin-top: 10px;
	padding-top: 10px;
	display: block;
	border-top: 1px dotted var(--border-color);
}